In [1]:
import pandas as pd

In [2]:
df_info = pd.read_csv('rawData/anime_new.csv')

In [3]:
df_image = pd.read_csv('rawData/imageLink.csv', index_col=0)

In [4]:
df_anime = pd.read_csv('rawData/anime.csv')

In [5]:
df_rating = pd.read_csv('rawData/rating.csv')

In [6]:
df_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14578 entries, 0 to 14577
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         14578 non-null  object
 1   mediaType     14510 non-null  object
 2   eps           14219 non-null  float64
 3   duration      9137 non-null   float64
 4   ongoing       14578 non-null  bool
 5   startYr       14356 non-null  float64
 6   finishYr      14134 non-null  float64
 7   sznOfRelease  3767 non-null   object
 8   description   8173 non-null   object
 9   studios       14578 non-null  object
 10  tags          14578 non-null  object
 11  contentWarn   14578 non-null  object
 12  watched       14356 non-null  float64
 13  watching      14578 non-null  int64
 14  wantWatch     14578 non-null  int64
 15  dropped       14578 non-null  int64
 16  rating        12107 non-null  float64
 17  votes         12119 non-null  float64
dtypes: bool(1), float64(7), int64(3), object(7)
memory usage: 1.9+ MB

In [7]:
df_image.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14000 entries, 0 to 13999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      14000 non-null  object
 1   imageLink  14000 non-null  object
dtypes: object(2)
memory usage: 328.1+ KB

In [8]:
df_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7813737 entries, 0 to 7813736
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 178.8 MB

# Merging Data

In [9]:
df_basic = df_info.set_index('title').join(df_image.set_index('title'), how='inner')

In [10]:
df_final = df_basic.drop(columns=['mediaType', 'eps', 'tags', 'rating', 'votes']).join(df_anime.set_index('name'), how='inner')

In [11]:
# This dataset for recommendation system
df_final.shape

(4382, 19)

# Cleaning Data

In [12]:
df_final.head()

,duration,ongoing,startYr,finishYr,sznOfRelease,description,studios,contentWarn,watched,watching,wantWatch,dropped,imageLink,anime_id,genre,type,episodes,rating,members
.hack//G.U. Returner,NaN,False,2007.0,2007.0,NaN,"""There is something I wish to entrust to you; ...",[],[],4353.0,60,2877,45,https://www.anime-planet.com//images/anime/cov...,2928,"Adventure, Drama, Fantasy, Game, Magic, Sci-Fi",OVA,1,6.91,15412
.hack//G.U. Trilogy,93.0,False,2008.0,2008.0,NaN,The World is an ordinary online game â€“ or at l...,['CyberConnect2 sai'],[],5684.0,86,3440,64,https://www.anime-planet.com//images/anime/cov...,3269,"Action, Fantasy, Game, Sci-Fi",Movie,1,7.32,22537
.hack//Quantum,NaN,False,2010.0,2011.0,NaN,"Tobias, Mary, and Sakuya are way into the The ...",['Kinema Citrus'],[],4751.0,218,2489,64,https://www.anime-planet.com//images/anime/cov...,9332,"Action, Adventure, Fantasy, Game, Sci-Fi",OVA,3,7.36,26163
.hack//Roots,24.0,False,2006.0,2006.0,Spring,Years after the fantasy MMORPG known as 'The W...,['BEE TRAIN'],[],10615.0,572,4250,716,https://www.anime-planet.com//images/anime/cov...,873,"Adventure, Drama, Fantasy, Game, Sci-Fi",TV,26,7.06,50480
.hack//Versus: The Thanatos Report,21.0,False,2012.0,2012.0,NaN,NaN,[],[],695.0,20,622,10,https://www.anime-planet.com//inc/img/blank_ma...,15219,"Action, Game, Sci-Fi",Special,1,6.51,4474

In [13]:
# Check the indexes whether unique
df_final.index.duplicated().sum()

0

In [14]:
# Check the na values percnetage for every column
df_final.isna().sum()/df_final.shape[0]

duration        0.420812
ongoing         0.000000
startYr         0.001369
finishYr        0.006390
sznOfRelease    0.696942
description     0.383843
studios         0.000000
contentWarn     0.000000
watched         0.005021
watching        0.000000
wantWatch       0.000000
dropped         0.000000
imageLink       0.000000
anime_id        0.000000
genre           0.007759
type            0.001826
episodes        0.000000
rating          0.015062
members         0.000000
dtype: float64

It shows that columns('duration', 'sznOfRelease', 'description') have high percentage of na values. However, these features(including 'startYr', 'finishYr', 'watched') are no important for the anime and I am only going to use them on the database. Therefore, I am going to keep them.

For columns('genre' and 'type'), I am going to list all the na value into unknown. For 'rating' column, I am going to drop the row with na values because this is important and I will use this for my recommendation system.

In [16]:
# Drop rows with na rating values
df_final.drop(index=df_final[df_final['rating'].isna()].index, inplace=True)

In [17]:
# Replace na values by unknown in columns 'genre' and 'type'
df_final['genre'].fillna('unknown', inplace=True)
df_final['type'].fillna('unknown', inplace=True)

In [18]:
# Double check
df_final.isna().sum()/df_final.shape[0]

duration        0.415894
ongoing         0.000000
startYr         0.001158
finishYr        0.006256
sznOfRelease    0.702502
description     0.387627
studios         0.000000
contentWarn     0.000000
watched         0.005097
watching        0.000000
wantWatch       0.000000
dropped         0.000000
imageLink       0.000000
anime_id        0.000000
genre           0.000000
type            0.000000
episodes        0.000000
rating          0.000000
members         0.000000
dtype: float64

In [19]:
# Check if any erroneous values
df_final.describe()

,duration,startYr,finishYr,watched,watching,wantWatch,dropped,anime_id,rating,members
count,2521.000000,4311.000000,4289.000000,4294.000000,4316.000000,4316.000000,4316.000000,4316.000000,4316.000000,4.316000e+03
mean,24.426418,1999.939457,2000.299837,2920.919655,277.126274,1166.063948,186.960843,13671.937210,6.399099,2.146527e+04
std,29.237578,16.169700,16.142385,8999.946208,1767.489469,2588.845289,665.681223,11165.338846,1.039444,6.733431e+04
min,1.000000,1907.000000,1907.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.670000,2.000000e+01
25%,4.000000,1992.000000,1992.000000,32.000000,1.000000,31.000000,2.000000,3658.250000,5.780000,2.130000e+02
50%,11.000000,2006.000000,2006.000000,169.500000,7.000000,160.000000,9.000000,9980.000000,6.500000,1.121500e+03
75%,31.000000,2012.000000,2012.000000,1582.500000,72.000000,992.250000,63.000000,23367.500000,7.130000,1.042800e+04
max,160.000000,2019.000000,2019.000000,161567.000000,74537.000000,28541.000000,19481.000000,34519.000000,9.260000,1.013917e+06

In [20]:
df_final.reset_index(inplace=True)
df_final.set_index('anime_id', inplace=True)
df_final.rename(columns={'index':'title'}, inplace=True)

In [21]:
df_final.head()

,title,duration,ongoing,startYr,finishYr,sznOfRelease,description,studios,contentWarn,watched,watching,wantWatch,dropped,imageLink,genre,type,episodes,rating,members
anime_id,,,,,,,,,,,,,,,,,,,
2928,.hack//G.U. Returner,NaN,False,2007.0,2007.0,NaN,"""There is something I wish to entrust to you; ...",[],[],4353.0,60,2877,45,https://www.anime-planet.com//images/anime/cov...,"Adventure, Drama, Fantasy, Game, Magic, Sci-Fi",OVA,1,6.91,15412
3269,.hack//G.U. Trilogy,93.0,False,2008.0,2008.0,NaN,The World is an ordinary online game â€“ or at l...,['CyberConnect2 sai'],[],5684.0,86,3440,64,https://www.anime-planet.com//images/anime/cov...,"Action, Fantasy, Game, Sci-Fi",Movie,1,7.32,22537
9332,.hack//Quantum,NaN,False,2010.0,2011.0,NaN,"Tobias, Mary, and Sakuya are way into the The ...",['Kinema Citrus'],[],4751.0,218,2489,64,https://www.anime-planet.com//images/anime/cov...,"Action, Adventure, Fantasy, Game, Sci-Fi",OVA,3,7.36,26163
873,.hack//Roots,24.0,False,2006.0,2006.0,Spring,Years after the fantasy MMORPG known as 'The W...,['BEE TRAIN'],[],10615.0,572,4250,716,https://www.anime-planet.com//images/anime/cov...,"Adventure, Drama, Fantasy, Game, Sci-Fi",TV,26,7.06,50480
15219,.hack//Versus: The Thanatos Report,21.0,False,2012.0,2012.0,NaN,NaN,[],[],695.0,20,622,10,https://www.anime-planet.com//inc/img/blank_ma...,"Action, Game, Sci-Fi",Special,1,6.51,4474

In [22]:
df_final.shape

(4316, 19)

In [24]:
df_final.to_csv("/Users/jrchen/flatiron-ds-course/Milestones/capstone/cleaningData/clean_basic.csv")

# Tuning Rating Dataset

In [25]:
df_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7813737 entries, 0 to 7813736
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 178.8 MB

In [26]:
df_rating.isna().sum()

user_id     0
anime_id    0
rating      0
dtype: int64

In [27]:
df_rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [28]:
# Create a new empty DataFrame to store rating info
df_rate = pd.DataFrame()

In [29]:
# Keeping add the valid anime_id rating info into the df_rate
for i in df_final.index:
    df_temp = df_rating.loc[df_rating['anime_id'] == i]
    df_rate = pd.concat([df_rate, df_temp])

In [30]:
df_rate.shape

(3175823, 3)

In [31]:
df_rate.head()

       user_id  anime_id  rating
10344      128      2928       8
12659      160      2928       8
22182      270      2928      -1
35333      392      2928      -1
38543      426      2928      -1

In [ ]:
df_rate.to_csv("/Users/jrchen/flatiron-ds-course/Milestones/capstone/cleaningData/clean_rating.csv")